body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pd-top{
  padding-top: 40px;
}

.pd-top-15{
  padding-top: 15px;
}

.img-dimension{
  width: 30%;
}

.inpt{
  width: 80%;
}

/*mobile devices*/

@media (max-width:766px){
  .img-dimension{
    width: 60%;
  }
}